.containerPrincipalDay{
    width: 100vw;
    height: 100vh;
    background-color: rgb(63, 192, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.containerPrincipalNight{
    width: 100vw;
    height: 100vh;
    background-color: rgb(16, 44, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.header{
    width: 550px;
    border: 1px solid;
    padding: 10px;
    background-color:azure ;
    display: flex;
    justify-content: center;
    border: rgb(220, 233, 233);
    border-radius: 10px;
}
.header input{
    width: 100%;
    border: none;
    outline: none;
}
.header span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: azure;
    cursor: pointer;
}
.title{
    width: 100%;
    font-size: 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.sun{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 100%;
}
.moon span{
    font-size: 40px;
    color: white;
}
.data{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
}
.actuallyTemp{
    padding: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.datum{
    background-color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width : 800px) {
    .containerPrincipalDay{
        width: 100%;
    }
    .containerPrincipalNight{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .title{
        width: 72%;
        font-size: 20px;
        
    }
    .existWeather{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}