.containerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-height: 100vh;
}
.header{
    width: 550px;
    border: 1px solid;
    padding: 10px;
    background-color:azure ;
    display: flex;
    justify-content: center;
    border: rgb(220, 233, 233);
    border-radius: 10px;
}
.header input{
    width: 100%;
    border: none;
    outline: none;
}
.header span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: azure;
    cursor: pointer;
}
.title{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    gap: 5px;
    width: 100%;
}
.title h2{
    width: 100%;
}
.title a{
    color: red;
}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sun{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 100%;
}
.moon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.moon span{
    font-size: 50px;
    color: white;
}
.data{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    color: white;
}
.actuallyTemp{
    padding: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.datum{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.containerData{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

@media (max-width : 800px) {
    .containerPrincipalDay{
        width: 100%;
    }
    .containerPrincipalNight{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .title{
        width: 100%;
        font-size: 30px;
        display: flex;
        gap: 10px;
    }
    .existWeather{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .actuallyTemp{
        font-size: 25px;
    }
    .containerData{
        font-size: 20px;
    }
    .containerData span{
        font-size: 20px;
    }
    
}